.competitions {
    margin-left: 10px;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    background: #313A3A3A;
    padding-left: 0;
    padding-right: 0;
}

.football {
    border-bottom: 1px solid #313A3A;
}

.pForCompetitions {
    margin-block-end: 5px;
    margin-block-start: 0;
    margin-left: 10px;
    font-family: sans-serif;
    color: white;
    font-size: 15px;
}

.competitionList {
    list-style: none;
    padding-left: 20px;
}

.competitionListItem {
    padding: 5px;
    font-family: sans-serif;
    color: lightgray;
    text-decoration: none;
}

.competitionListItem:visited {
    text-decoration: none;
}