<div class="selectedCompetitionDiv">
  <div class="selectedName">
    <h2 class="nameH2">{{competitionName}}</h2>
  </div>
  <div class="chooser">
    <div class="liveMatchOption" (click)="handleLiveOnClick()" [class.active]="showLiveMathes">
      <span>LIVE</span>
    </div>
    <div class="notLiveMatchOption" (click)="handleOtherOnClick()" [class.active]="!showLiveMathes">
      <span>OTHER MATCHES</span>
    </div>
  </div>
  <div *ngIf="matches" class="matchesList">
    <ul *ngIf="showLiveMathes">
      <li *ngFor="let match of liveMatches">
        <a routerLink="/{{competitionName}}/{{match.id}}"> 
          HomeTeam: {{ match.homeTeam.name }} AwayTeam: {{ match.awayTeam.name }} 
        </a>
      </li>
    </ul>
    <ul *ngIf="!showLiveMathes">
      <li *ngFor="let match of otherMatches">
        <a routerLink="/{{competitionName}}/{{match.id}}"> 
          HomeTeam: {{ match.homeTeam.name }} AwayTeam: {{ match.awayTeam.name }} 
        </a>
      </li>
    </ul>
  </div>
</div>
