.selectedCompetitionDiv {
    margin-left: 10px;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    background: #313A3A3A;
    padding-left: 0;
    padding-right: 0;
    
}

.selectedName {
    margin-block-start: 0;
    font-family: sans-serif;
    color: white;
    font-size: 15px;
    text-align: center;
    border-bottom: 1px solid #313A3A;
    padding-bottom: 5px;
}

.nameH2 {
    margin: 0;
    font-family: sans-serif;
    font-size: 15px;
}

.matchesList {
    
}

.listUl {
    margin: 0;
}

.chooser {
    display: flex;
    border-bottom: 1px solid #313A3A;
}

.liveMatchOption {
    width: 50%;
    text-align: center;
}

.liveMatchOption.active {
    border-bottom: 1px solid rgb(168, 7, 7);
}

.liveMatchOption.active .optionSpan {
    color: rgb(168, 7, 7);
}

.liveMatchOption:hover {
    cursor: pointer;
}

.notLiveMatchOption {
    width: 50%;
    text-align: center;
}

.notLiveMatchOption:hover {
    cursor: pointer;
}

.active {
    background-color: #6969693A;
}

.optionSpan {
    font-family: sans-serif;
    color: rgb(197, 193, 193);
}

.noLiveMatch {
    font-family: fantasy;
}

.OngoingUl {
    list-style: none;
    padding-right: 0;
    padding-left: 0;
    margin-top: 0;
    background-color: #A8A8A83A;
}

.oneMatchDiv {
    height: 70px;
    border-bottom: 1px solid #313A3A;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.TeamSpan {
    color: rgba(255, 255, 255, 0.753);
    font-family: inherit;
}

.topSpan {
    font-family: sans-serif;
    font-size: 10px;
}

.dateSpan {
    font-family: inherit;
    color: rgb(206, 155, 67);
    font-size: small;
}