<div class="selectedCompetitionDiv">
  <div class="selectedName">
    <h2 class="nameH2">{{competitionName}}</h2>
  </div>
  <div class="chooser">
    <div class="liveMatchOption" (click)="handleLiveOnClick()" [class.active]="showLiveMathes">
      <span class="optionSpan">LIVE</span>
    </div>
    <div class="notLiveMatchOption" (click)="handleOtherOnClick()" [class.active]="!showLiveMathes">
      <span class="optionSpan">OTHER MATCHES</span>
    </div>
  </div>
  <div *ngIf="matches" class="matchesList">
    <ul *ngIf="showLiveMathes" class="OngoingUl">
      <li *ngFor="let match of liveMatches">
        <div [routerLink]="'/'+competitionName+'/'+match.id" class="oneMatchDiv">
          <span class="topSpan">
            FOOTBALL
          </span>
          <span class="TeamSpan"> 
            {{ match.homeTeam }} 
          </span>
          <span class="TeamSpan">
            {{ match.awayTeam }}
          </span>
          <span class="dateSpan">
            {{ match.date }}
          </span>
        </div>  
      </li>
      <span *ngIf="isLiveEmpty" class="noLiveMatch">
        Currently there is no live match
      </span>
    </ul>
    <ul *ngIf="!showLiveMathes" class="OngoingUl">
        <li *ngFor="let match of otherMatches">
          <div routerLink="/{{competitionName}}/{{match.id}}" class="oneMatchDiv">
            <span class="topSpan">
              FOOTBALL
            </span>
          <span class="TeamSpan"> 
            {{ match.homeTeam }} 
          </span>
          <span class="TeamSpan">
            {{ match.awayTeam }}
          </span>
          <span class="dateSpan">
            {{ match.date }}
          </span>
        </div>  
        </li>
        <span *ngIf="isOngoingEmpty" class="noLiveMatch">
          Currently there is no ongoing match
        </span>
    </ul>
  </div>
</div>
