html {
    overflow-y: scroll;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.navBar {
    position: relative;
    width: 100%;
    height: 50px;
    background:#313A3A;
    margin: 0;
    display: flex;
    align-items: center;
    text-decoration-color: white;
}

.appName {
    color: white;
    font-family: sans-serif;
}

.buttons {
    position: absolute;
    left: auto;
    right: 10px;
    align-content: right;
    margin: 0;
    padding: 0;
}

.buttonLogin {
    background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 3px;
  margin-left: 5px;
}

.buttonSignup {
    background-color: #e21a1a; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 3px;
  margin-left: 5px;
}

