/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    background: #3D4849;
}

a, a:link, a:visited {
    text-decoration: none;
    color: lightgray;
}
